@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500;600;700&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
}
body {
    -ms-overflow-style: none;
}
.baloo {
    font-family: 'Baloo Tamma 2', cursive;
}

.btn-outline-secondary-hover:hover {
    background-color: #ffdf65;
    border-color: #ffdf65;
    color: #636057 !important;
    i {
        color: #ff785e;
    }
}
.btn-warning-hover:hover {
    background-color: #ff785e;
    border-color: #ff785e;
    color: #fff !important;
}
a {
    text-decoration: none;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}
.letter-spacing-2 {
    letter-spacing: 2px;
}
.letter-spacing-3 {
    letter-spacing: 3px;
}
.letter-spacing-7 {
    letter-spacing: 0.7px;
}

.rounded-img {
    border-radius: 36px;
}
.rounded-4 {
    border-radius: 0.4rem;
}

.square-1 {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.square-2 {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.square-3 {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.square-4 {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.nav .active {
    font-weight: bold;
    border-bottom: 2px solid #ffc107;
}
.bg-bodycolor {
    background: #494846;
}
.top-nav {
    top: 82px;
}
.h-100vh-nav {
    height: calc(100vh - 82px);
}

.accordion-button:not(.collapsed) {
    background: none;
    color: #636057;
}
.accordion-button:not(.collapsed)::after {
    filter: grayscale(100%);
}
@media (max-width: 575.98px) {
    .accordion-button {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.accordion-button::after {
    background-size: 14px;
    width: 14px;
    height: 14px;
}
.accordion-body {
    padding: 1rem 16px 1rem 64px;
}

.form-select {
    font-size: 0.875rem;
    color: #999999;
    background-color: #fafafa;
}
.form-control {
    font-size: 0.875rem;
    color: #999999;
    background-color: #fafafa;
}

@media (min-width: 768px) {
    .square-md-2 {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}
@media (max-width: 767.98px) {
    .tooltip {
        display: none;
    }
}
